<h1>Нормаривни актове</h1>
<div>
    <img src="../../../assets/microsoft-word-logo-E648C182A5-seeklogo.com.png" width="30px" height="30px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>
<div>
    <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>
<div>
    <img src="../../../assets/microsoft-word-logo-E648C182A5-seeklogo.com.png" width="30px" height="30px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>
<div>
    <img src="../../../assets/microsoft-word-logo-E648C182A5-seeklogo.com.png" width="30px" height="30px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>
<div>
    <img src="../../../assets/microsoft-word-logo-E648C182A5-seeklogo.com.png" width="30px" height="30px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>
<div>
    <img src="../../../assets/microsoft-word-logo-E648C182A5-seeklogo.com.png" width="30px" height="30px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>
<div>
    <img src="../../../assets/microsoft-word-logo-E648C182A5-seeklogo.com.png" width="30px" height="30px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>
<div>
    <img src="../../../assets/microsoft-word-logo-E648C182A5-seeklogo.com.png" width="30px" height="30px" alt="word logo">
    <span>dok-klasirane-uni.docx</span>
    <a href="../../../assets/dok-klasirane-uni.docx" download=""><i class="fa-solid fa-download"></i></a>
</div>