<h1>Нормативни актове</h1>
<section>

    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>КОНСТИТУЦИЯ НА РЕПУБЛИКА БЪЛГАРИЯ.pdf</span>
        </article>
        <a href="../../../assets/КОНСТИТУЦИЯ НА РЕПУБЛИКА БЪЛГАРИЯ.pdf" download=""><i
                class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>АДМИНИСТРАТИВНОПРОЦЕСУАЛЕН КОДЕКС.pdf</span>
        </article>
        <a href="../../../assets/АДМИНИСТРАТИВНОПРОЦЕСУАЛЕН КОДЕКС.pdf" download=""><i
                class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>СЕМЕЕН КОДЕКС</span>
        </article>
        <a href="../../../assets/СЕМЕЕН КОДЕКС.pdf" download=""><i class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>ЗАКОН ЗА АДМИНИСТРАЦИЯТА</span>
        </article>
        <a href="../../../assets/ЗАКОН ЗА АДМИНИСТРАЦИЯТА.pdf" download=""><i class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>ЗАКОН ЗА АДМИНИСТРАТИВНИТЕ НАРУШЕНИЯ И НАКАЗАНИЯ</span>
        </article>
        <a href="../../../assets/ЗАКОН ЗА АДМИНИСТРАТИВНИТЕ НАРУШЕНИЯ И НАКАЗАНИЯ.pdf" download=""><i
                class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>ЗАКОН ЗА НОРМАТИВНИТЕ АКТОВЕ</span>
        </article>
        <a href="../../../assets/ЗАКОН ЗА НОРМАТИВНИТЕ АКТОВЕ.pdf" download=""><i class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>ЗАКОН ЗА ДЪРЖАВНИЯ СЛУЖИТЕЛ</span>
        </article>
        <a href="../../../assets/ЗАКОН ЗА ДЪРЖАВНИЯ СЛУЖИТЕЛ.pdf" download=""><i class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>ЗАКОН ЗА ЗАЩИТА ОТ ДОМАШНОТО НАСИЛИЕ</span>
        </article>
        <a href="../../../assets/ЗАКОН ЗА ЗАЩИТА ОТ ДОМАШНОТО НАСИЛИЕ.pdf" download=""><i
                class="fa-solid fa-download"></i></a>
    </div>
    <div>
        <article>
            <img src="../../../assets/PDF_file_icon.svg.png" width="30px" height="35px" alt="word logo">
            <span>ЗАКОН ЗА ЗАКРИЛА НА ДЕТЕТО</span>
        </article>
        <a href="../../../assets/ЗАКОН ЗА ЗАКРИЛА НА ДЕТЕТО.pdf" download=""><i class="fa-solid fa-download"></i></a>
    </div>
</section>