<section>

    <h1>Партньори</h1>
    <div class="container">
        <div class="partner">
            <img src="../../../assets/20230817_163521n.jpg" width="250px" height="250px" alt="">
            <span>Окръжен съд - Русе: </span>
            <a href="https://ruse-os.justice.bg/" target="_blank"> Сайт на РОС</a>
        </div>
        <div class="partner">
            <img src="../../../assets/SydebnaPalata15.jpg" width="250px" height="250px" alt="">
            <span>Районен съд - Русе: </span>
            <a href="https://ruse-rs.justice.bg/" target="_blank"> Сайт на РРС</a>
        </div>
        <div class="partner">
            <img src="../../../assets/mg_baba_tonka58.jpg" width="250px" height="250px" alt="">
            <span>Математическа гимназия "Баба Тонка": </span>
            <a href="http://www.mg-babatonka.bg/news.php" target="_blank"> Сайт на гимназията</a>
        </div>
    </div>
</section>
