.color-btn{
    background-color: #4d0bb9;
    border: none;
}

mat-form-field{
    display: block;
}

form{
    width: 50%;
    margin: 0 auto;
}

.mt-5{
    margin-top: 40px;
}

@media(width<=1274px){
    section{ 
   padding-top: 220px;
    }
   }