<section class="centered w-25 mt-5">
    <form [formGroup]="form" (ngSubmit)="handleLogin(form)">
        <h1>Влез</h1>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Парола</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>

        <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit">Влез</button>

        <!--
        <input (click)="getuserdata()" class="btn btn-secondary ms-2" value="Get User Data" type="button">
        <input (click)="logout()" class="btn btn-dark color-btn ms-2" value="Излез" type="button">-->
    </form>
</section>

