<section class="centered mt-5 w-25 form-wrapper">
    <form [formGroup]="form" (ngSubmit)="handleSubmission(form)">
        <h1>Запитване за консултация</h1>

        <mat-form-field>
            <mat-label>Трите Ви Имена</mat-label>
            <input matInput id="names" formControlName="names">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput id="email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Относно (за какво става въпрос)</mat-label>
            <input matInput id="about" formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Описание (подробно описание на казуса Ви)</mat-label>
            <textarea matInput id="description" formControlName="description"></textarea>
        </mat-form-field>

        <div class="form-field">
            <p class="info">Прикачете материали към казуса</p>
            <button mat-raised-button type="button" class="file-input-button" color="primary">
                Изберете Файл
                <input formControlName="file" type="file" multiple (change)="onFileSelected($event)" accept=".doc,.docx,.pdf">
            </button>
            <span style="margin-left: 10px;" *ngIf="selectedFileNames.length > 0">Избрани Файлове: {{ selectedFileNames.join(', ') }}</span>
            <p class="warning"><b>Внимание!</b> Маиксималният брой файлове е 5! Моля не качвайте повече от 5 файла!</p>

        </div>



        <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit">Кандидатствай</button>
        <!-- Disabled if the from is invalid -->

    </form>
</section>



<!--  -->