.admin-component{
    width: 100%;
    display: flex;
    height: calc(100vh - 64px);
    align-items: stretch;
}

.sidebar{
    min-width: 10%;
    background-color: rgb(227, 227, 227);
}

.main-content > div{
    padding: 30px;
}

.right{
    float: right;
}

mat-tab-group{
    min-width: 600px;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.front{
    z-index: 999 !important; 
}

.length-container{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    font-size: 48px;
    background-color: #aaa;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.small-text{
    font-size: 12px;
}

.dashboard-first-row{
    display: flex;
    justify-content: space-around;
}

.y7tgvfuykguvhjkg{
    margin-bottom: 10px;
}
