<section class="admin-component">
    <article class="sidebar"> <!-- Side bar -->
        <mat-list role="list">
            <mat-list-item role="listitem"> <button mat-button (click)="changeWindow('home')"> <mat-icon>
                        home</mat-icon> Начало</button> </mat-list-item>
            <mat-list-item role="listitem"> <button mat-button (click)="changeWindow('cases')"> <mat-icon>
                        list_alt</mat-icon> Казуси</button> </mat-list-item>
            <mat-list-item role="listitem"> <button mat-button (click)="changeWindow('students')">
                    <mat-icon>person</mat-icon> Студенти </button> </mat-list-item>
            <mat-list-item role="listitem"> <button mat-button (click)="changeWindow('admins')">
                    <mat-icon>manage_accounts</mat-icon> Администратори </button> </mat-list-item>
            <mat-list-item role="listitem"> <button mat-button (click)="changeWindow('pending')">
                    <mat-icon>query_builder</mat-icon> Чакащи</button> </mat-list-item>
        </mat-list>
    </article>
    <!-- Content Holder -->
    <article class="main-content" style="max-width: 90%">
        <div>
            <!-- When opened side bar "Home"-->
            <div *ngIf="opened == 'home'">
                <h1>Здравейте, {{this.authService.user.names}}!</h1>
                <p>Роля: {{this.authService.user.role == 'admin'? "Администратор" : "Суперадминистратор"}}</p>

            </div>

            <!-- When opened side bar "Cases"-->

            <div *ngIf="opened == 'cases'">

                <h2> Всички Казуси</h2>

                <button mat-icon-button color="secondary" matTooltipPosition="above" matTooltip="Обнови"
                    aria-label="refresh" (click)="updateCases(false)"><mat-icon>refresh</mat-icon></button>
                <!-- updateCases(false) - Updates only the cases without the users (check the .ts file for more info)-->

                <!-- Tabs for the different statuses-->
                <mat-tab-group>
                    <mat-tab label="Неодобрени" *ngIf="role == 'superadmin'">
                        <mat-list>
                            <mat-list-item *ngFor="let case of cases | filterCases: 'Not Approved'"> <!-- Pipe: <status>: <specialty?>  -->
                                {{case.title}}
                                <div class="right">
                                    <button mat-icon-button color="primary" matTooltipPosition="above"
                                        matTooltip="Повече Информация"
                                        aria-label="Info"><mat-icon>info</mat-icon></button>
                                    <button mat-icon-button color="secondary" matTooltipPosition="above"
                                        matTooltip="Разпредели"
                                        aria-label="Something" (click)="openSpecilatyDialog(case.id)"><mat-icon>sync_alt</mat-icon></button>
                                    <button mat-icon-button color="warn" matTooltipPosition="above"
                                        matTooltip="Отхвърли" aria-label="Reject"
                                        (click)="changeCaseStatus(case.id, 'Rejected')"><mat-icon>block</mat-icon></button>
                                        <!-- Specialty Dialog - Dialog to choose A or FI specilaty -->
                                        <!-- Change Status - Sends request to change the status of the case -->
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Разпределени Семейно и Наследствено"
                        *ngIf="role == 'superadmin' || (role == 'admin' && spec == 'FI')">
                        <mat-list>
                            <mat-list-item *ngFor="let case of cases | filterCases: 'Approved': 'FI'">
                                {{case.title}}
                                <div class="right">
                                    <button mat-icon-button color="primary" matTooltipPosition="above"
                                        matTooltip="Повече Информация"
                                        aria-label="Info"><mat-icon>info</mat-icon></button>
                                    <button mat-icon-button color="secondary" matTooltipPosition="above"
                                        matTooltip="Разпредели по студенти" aria-label="people"
                                        (click)="openStudentDialog(case)"><mat-icon>people</mat-icon></button>
                                    <!-- Student Dialog - Dialog to choose students to work on the case -->
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Разпределени Административно"
                        *ngIf="role == 'superadmin' || (role == 'admin' && spec == 'A')">
                        <mat-list>
                            <mat-list-item *ngFor="let case of cases | filterCases: 'Approved': 'A'">
                                {{case.title}}
                                <div class="right">
                                    <button mat-icon-button color="primary" matTooltipPosition="above"
                                        matTooltip="Повече Информация"
                                        aria-label="Info"><mat-icon>info</mat-icon></button>
                                    <button mat-icon-button color="secondary" matTooltipPosition="above"
                                        matTooltip="Разпредели по студенти" aria-label="people"
                                        (click)="openStudentDialog(case)"><mat-icon>people</mat-icon></button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Работи се">
                        <mat-list>
                            <mat-list-item *ngFor="let case of cases | filterCases: 'Working'">
                                {{case.title}}
                                <div class="right">
                                    <button mat-icon-button color="primary" matTooltipPosition="above"
                                        matTooltip="Повече Информация"
                                        aria-label="Info"><mat-icon>info</mat-icon></button>
                                    <button mat-icon-button color="secondary" matTooltipPosition="above"
                                        matTooltip="Приключи работа"
                                        aria-label="Finish" (click)="changeCaseStatus(case.id, 'Done')"><mat-icon>check</mat-icon></button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Завършени">
                        <mat-list>
                            <mat-list-item *ngFor="let case of cases | filterCases: 'Done'">
                                {{case.title}}
                                <div class="right">
                                    <button mat-icon-button color="primary" matTooltipPosition="above"
                                        matTooltip="Повече Информация"
                                        aria-label="Info"><mat-icon>info</mat-icon></button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Отхвърлени">
                        <mat-list>
                            <mat-list-item *ngFor="let case of cases | filterCases: 'Rejected'">
                                {{case.title}}
                                <div class="right">
                                    <button mat-icon-button color="primary" matTooltipPosition="above"
                                        matTooltip="Повече Информация"
                                        aria-label="Info"><mat-icon>info</mat-icon></button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <div *ngIf="opened == 'students'">
                <h2> Всички Студенти</h2>
                <button mat-icon-button color="secondary" matTooltipPosition="above" matTooltip="Обнови"
                    aria-label="refresh" (click)="updateUsers()"><mat-icon>refresh</mat-icon></button>

                <!-- Agoain tabs for the different statuses-->
                <mat-tab-group>
                    <mat-tab label="Чакащи">
                        <mat-list>
                            <mat-list-item *ngFor="let user of users | fiterUsers: 'user': '0'">
                                {{user.fak_no}}
                                {{user.names}}
                                <div class="right">
                                    <button mat-icon-button color="secondary" matTooltipPosition="above"
                                        matTooltip="Одобри" aria-label="Finish"
                                        (click)="changeUserStatus(user.id, 1)"><mat-icon>check</mat-icon></button>
                                    <button mat-icon-button color="warn" matTooltipPosition="above"
                                        matTooltip="Отхвръли" aria-label="Finish"
                                        (click)="changeUserStatus(user.id, -1)"><mat-icon>block</mat-icon></button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Одобрени">
                        <mat-list>
                            <mat-list-item *ngFor="let user of users | fiterUsers: 'user': '1'">
                                {{user.fak_no}}
                                {{user.names}}
                                <div class="right">
                                    <button mat-icon-button color="warn" matTooltipPosition="above" matTooltip="Изтирий"
                                        aria-label="Finish"><mat-icon>block</mat-icon></button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Отхвърлени">
                        <mat-list>
                            <mat-list-item *ngFor="let user of users | fiterUsers: 'user': '-1'">
                                {{user.fak_no}}
                                {{user.names}}
                                <div class="right">
                                    <button mat-icon-button color="primary" matTooltipPosition="above"
                                        matTooltip="Върни обратно в 'Чакащи'" aria-label="Finish"
                                        (click)="changeUserStatus(user.id, 0)"><mat-icon>arrow_back</mat-icon></button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <div *ngIf="opened == 'admins'">
                <!-- TODO: FIX-->
                <button mat-raised-button>Students</button>
                <button mat-raised-button>Specialty</button>
            </div>

            <div *ngIf="opened == 'pending'">
                <!-- TODO: make content-->
            </div>

        </div>
    </article>
</section>