.my-cases-component{
    width: 100%;
    display: flex;
    height: calc(100vh - 64px);
    align-items: stretch;
}

.sidebar{
    min-width: 10%;
    background-color: rgb(227, 227, 227);
}

.main-content > div{
    padding: 30px;
}

.right{
    float: right;
}

.case-list{
    min-width: 600px;
}