<!--
    TODO FIRST: Get yourself familiar with the project.
    TODO: Add the action buttons from the admin panel to the details page only when comming from the admin panel! 
        (e.g. the admin opens case titled "Къща на село" and in the details page he kust see the reject and distribute buttons)
        These button also should open the same dialog windows as the ones in the admin panel but when closing the panel with 
        "Потвърди" button the admin must be rediredted back to the admin page with "Казуси" tab opened
    TODO: Make the file list more beautiful.
    TODO: Add description, names of the guest (the citizen) and email of the guest (the citizen) which should be clickable and 
        should be type email.
    TODO: Make a return button:
        - When a student (user) opens the details page of some case they must have a button "обратно към 'Мойте казуси'" 
            which redirects back to the (for now non-existent so just make href='#' or something) "Мойте казуси" page 
            for the students
        - When an admin (admin) opens the details page of some case they must have a button "Обратно към 'Админ панел'"
            which redirects back to the admin panel with "Казуси" tab opened. 
    TODO: Also when a user opens the project for the first time there is a white screen with only the navbar showing and only 
        when you refresh the hompage content shows. I think the problem is with the routing but see if you can fix it.      
    TODO: If you finifh all this start with the "Нормативни актове" page. Of course the file list should look the same as 
        the one here in the details page which I told you to make more beautiful. 

    If you have some questions call me. I probably won't respond right away but I will call you back later (probably).

    Good Luck! :)
-->
<ng-container *ngIf="this.case">
    <div class="cont">


    <div class="left">

        <ng-container *ngIf="this.loggedUser.role!='user'">
           
            <a href="/admin"class="m-5 btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Админ Панел</a>
        </ng-container>
        <ng-container *ngIf="this.loggedUser.role=='user'">
            <a href="#"class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Моите Казуси</a>
        </ng-container>
        <mat-list>
            <mat-list-item *ngFor="let filename of this.case!?.filenames!"> 
                <i class="material-icons">file_present</i>
                <a download href="http://localhost/law_clinic/upload/{{filename}}">{{filename}}</a>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="right">

        <h1> {{this.case!.title!}} </h1>
        <h3>Статус: <b>{{this.case.status}}</b></h3>
        <p>{{this.case!.description!}}</p>
        <!----    <h4><span style="color:rgb(73, 71, 71); ; font-size: 18px;">Иманена на гражданина:</span> {{this.user.names}}</h4> -->
     <h4><span style="color:rgb(73, 71, 71); font-size: 18px;">E-mail на гражданина:</span> {{this.user.email}}</h4>
    
    <ng-container *ngIf="this.loggedUser.role == 'superadmin'">
       
          
                <div class="r">
                    
                    <button mat-icon-button color="secondary" matTooltipPosition="above"
                        matTooltip="Разпредели"
                        aria-label="Something" (click)="openSpecilatyDialog(case.id)"><mat-icon>sync_alt</mat-icon></button>
                    <button mat-icon-button color="warn" matTooltipPosition="above"
                        matTooltip="Отхвърли" aria-label="Reject"
                        (click)="changeCaseStatus(case.id, 'Rejected')"><mat-icon>block</mat-icon></button>
                        <!-- Specialty Dialog - Dialog to choose A or FI specilaty -->
                        <!-- Change Status - Sends request to change the status of the case -->
                </div>
           
       
    </ng-container>
</div>
</div>
</ng-container>