<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 20px; padding-bottom: 20px;">
    
    <a class="navbar-brand" href="#" style="display: flex; align-items: center; padding-left: 10px; font-size: 23px;">
        <img src="../../assets/e-removebg-preview.png" width="58" height="52" class="d-inline-block align-top" alt="" style="margin: 0 15px;">
        Правна Клиника към РУ "Ангел Кънчев"
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="font-size: 18px; justify-content: end; margin-right: 3rem;">
      <ul class="navbar-nav" style="font-size: 20px;">
       
        <li class="nav-item active">
          <a class="nav-link" href="/">Начало</a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                За нас
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">История</a>
                <a class="dropdown-item" href="#">Структура</a>
                <a class="dropdown-item" href="#">Партньори</a>
                <a class="dropdown-item" href="#">Контакти</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Нормативни актове
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Семейно и наследствено право</a>
                <a class="dropdown-item" href="#">Административно право</a>
                
            </div>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Запитаване за консултация</a>
           
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="/register">Кандидатсвай</a>

          </li>
        <li class="nav-item">
          <a class="nav-link login" href="/login">Вход</a>
        </li>
      </ul>
    </div>
  </nav>
  

-->


<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <img src="../../assets/e-removebg-preview.png" width="58" height="52" class="d-inline-block align-top" alt=""
      style="margin-right: 15px;">
    <span>Правна клиника към РУ "Ангел Кънчев"</span>
    <span class="example-spacer"></span>
    <a href="/" class="nav-btn" mat-button>Начало</a>
    <a class="nav-btn" mat-button [matMenuTriggerFor]="aboutMenu">За нас</a>
    <mat-menu #aboutMenu="matMenu">
      <button mat-menu-item>История</button>
      <button mat-menu-item>Структура</button>
      <button mat-menu-item>Партньори</button>
      <button mat-menu-item>Контакти</button>
    </mat-menu>
    <button class="nav-btn" mat-button [matMenuTriggerFor]="docMenu">Нормативни актове</button>
    <mat-menu #docMenu="matMenu">
      <button mat-menu-item>Административно право</button>
      <button mat-menu-item>Семейно и наследствено право</button>
    </mat-menu>
    <a class="nav-btn" mat-button href="/submit-case" *ngIf="!this.authService.isLoggedIn()">Запитаване за консултация</a>
    <a class="nav-btn" href='/register' mat-button *ngIf="!this.authService.isLoggedIn()">Кандидатсвай</a>
    <a class="nav-btn" href='/login' mat-raised-button color="primary" *ngIf="!this.authService.isLoggedIn()">Вход</a>

    <a href="/" class="nav-btn" mat-button *ngIf="this.authService.isLoggedIn()" (click)="this.authService.logout()">Изход</a>
    <a class="nav-btn" href='/admin' mat-raised-button color="primary" *ngIf="this.authService.isLoggedIn() && (this.authService.user?.role == 'admin' || this.authService.user?.role == 'superadmin')">Админ панел</a>

    
  </mat-toolbar-row>
</mat-toolbar>