.nav-link {
    margin-right: 20px;
}
.login {
    background-color: red;
    width: 80px;
    text-align: center;
    background-color: #8B60D1;
    color: white;
    border-radius: 20px;
}

.dropdown-menu {
    font-size: 18px;
}

.example-spacer {
    flex: 1 1 auto;
}

.nav-btn{
    margin-left: 10px;;
}
.menu-spacer {
    flex: 1 1 auto;
  }
@media(width<=1274px){
    mat-toolbar-row{
        flex-direction: column !important;
        
    } 
    mat-toolbar{
        width: 800px;
        display: contents;
    }
}