<div class="guest-users-container">
        <header class="header-section" style="background: linear-gradient( rgba(0,0,0,0.55) 100%, #0c0c0c),url('https://www.uni-ruse.bg/_layouts/15/browser/covers/2014-04-07-01.jpg') no-repeat center / cover; ">
            <div class="header-section-container container" >
                <div class="header-section-headings">
                    <h1 style="padding-top: 76px;">Правна Клиника към Юридически факутет на Русенски Университет "Ангел Кънчев"</h1>
                    <div class="sub-heading-container">
                        <div class="header-section-program-info-items">
                            <ul>
                                <li class="application-header-description">
                                    <i class="fa fa-check check-iconk"></i>
                                    <p>Lorem Ipsum gewhgewrhgew</p>
                                </li>
                                <li class="application-header-description">
                                    <i class="fa fa-check check-iconk"></i>
                                    <p>Lorem Ipsum gewhgewrhgew</p>
                                </li>
                                <li class="application-header-description">
                                    <i class="fa fa-check check-iconk"></i>
                                    <p>Lorem Ipsum gewhgewrhgew</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-section-body">
                    <div class="header-section-buttons">
                        <a class="primary-button button-large">Запитаване за консултация</a>

                    </div>
                    <div class="header-section-image-container">
                        <div class="header-section-image-container-wrapper" style="display: none;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
