.color-btn{
    background-color: #4d0bb9;
    border: none;
}

form{
    width: 50%;
    margin: 0 auto;
}

mat-form-field{
    display: block;
}

.mt-5{
    margin-top: 40px;
}

@media (max-width: 767px) {
    form {
        width: 80%;
        margin: 0 auto;
    }
}