<section class="centered mt-5 w-25">
    <form [formGroup]="form" (ngSubmit)="handleRegister(form)">
        <h1>Кандидатствай</h1>

        <mat-form-field>
            <mat-label>Трите Ви Имена</mat-label>
            <input matInput formControlName="names">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Специалност</mat-label>
            <mat-select formControlName="specialty" required>
                <mat-option>Изберте...</mat-option> <!-- No value option -->
                <mat-option *ngFor="let spec of specialties" [value]="spec.code">
                    {{spec.name}} <!-- Every specialty. Spec code: A, FI or both(B) -->
                </mat-option>
            </mat-select>
            <mat-error *ngIf="Specialty?.errors?.['requierd']">Моля Изберете *Специалност*</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Факултетен номер</mat-label>
            <input matInput formControlName="fak_no">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail на uni-ruse.bg</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Парола</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>

        <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit">Кандидатствай</button>
        <!-- Disabled if form invalid -->

    </form>
</section>